{% extends "base.html" %}

{% block body %}

<div class="about-me-image">
    <img src="http://imgur.com/jdUiy5t"></img>
</div>
    
<div class="container">
  
    <h1>Hey, I'm Christie Kliewer</h1>
    <p>I recently received my Master's in Library and Information Science at the University of Pittsburgh. Currently I work in the Carnegie Library of Pittsburgh Downtown & Business branch. I also bartend from time to time.</p>
    <p>I keep a collection of past and current projects on this site. I hope to gradually add some blog entries about these experiences.</p>
    
</div>
{% endblock %}
